/* #fffcf2, #ccc5b9, #403d39, #252422, #eb5e28 #2D3047 */
#root {
    font-family: Roboto, Arial, sans-serif;
    background-color: #ccc5b9;
    margin: 0;
    padding: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    box-shadow: 0 15px 36px rgba(0,0,0,0.37), 0 15px 36px rgba(0,0,0,0.22);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    color: #333;
}
h3 {
    color: #333;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    margin-bottom: 10px;
}
button {
    padding: 10px 15px;
    background-color: #403d39;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1fr;
}

button:disabled {
    background-color: #ccc5b9;
}

p {
    font-size: large;
    margin-bottom: 10px;
}

.chat_bg {
    background-color: #ccc5b9;
    width: 50%;
    /* height: 95vh; */
    padding: 1.6em 2em 1em 1.6em;
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    overflow-x: hidden;
}

.server_info_bg {
    background-color: #252422;
    width: 50%;
    padding: 1.6em 2em 1em 1.6em;
    /* height: 95vh; */
    color: white;
    padding: 2em;
}

.serverinfo_context_container {
    border: 1px solid #2D3047;
    border-radius: 0.8em;
    padding: 1em;
}


.context_container {
    background-color: gray;
    border-radius: 0.8em;
    max-height: 0.5vh;
    min-width: 100%;
    display: flex;
    border: 1px solid #8effb4
}

.context_bar {
    background-color: rgb(165, 58, 81);
    display: flex;
    align-items: baseline;
    border-radius: 0.8em;
    /* min-width: 1px; */
    max-height: 0.5vh;
}

.chat_buttons {
    align-items: stretch;
    margin-bottom: 10px;
}

.chat_log {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat_item {
    /* background-color: yellow; */
    width: auto;
}

.chat_container{
    display: flex;
    position: relative;
    top: 0.2em;
    left: 0.2em;
    
}

.question {
    background-color: #eb5e28;
    padding: 0.8em;
    color: #fffcf2;
    width: 100%;
    font-weight: 500;
    border-radius: 0 1em 1em 1em; 
    max-width: fit-content;
}

.margin_top {
    margin-top: 1.2em;
}

.answer {
    padding: 0.8em;
    background-color: #2D3047;
    border-radius: 1em 1em 0 0; 
    color: #fffcf2;
}

.reasoning {
    padding: 0.8em;
    background-color: #3d4796;
    border-radius: 0 0 1em 0; 
    color: #fffcf2;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

.overlay_background {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 5;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(153, 143, 143, 0.56); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #b64518; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  border-radius: 0 1.6em 1.6em 0;
  display: flex;
  align-items: start;
  box-shadow: 0 30px 200px rgba(0,0,0,0.37), 0 15px 600px rgba(0,0,0,0.22);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.hide {
    display: none
}

.show {
    position: fixed;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.closed {
    width: 0;
}

.open_bg {
    width: 100%;
}

.open_menu {
    width: 40%
}



/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.hide {
    display: none;
}


.loader {
    width: 1.5em;
    height: 1.5em;
    border: 3px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
